@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Kangaroo</h1>
    <p>Pick A Movie To Begin</p>

    <div class="row text-center text-lg-left">
        @{
            foreach (var movie in Model.movies)
            {
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="@movie.Poster" alt="">
                        <p>@movie.Title</p>
                    </a>
                </div>
            }
        }


        @*<div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="@movieList.data.movies[0]["large_cover_image"]" alt="">
                    <p>@movieList.data.movies[0]["title_long"]</p>
                </a>
            </div>*@

    </div>
</div>
